/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-snet-accordion {
	border-top: 1px solid teal;
	padding: 1rem 0;
}

.accordion__title {
	font-size: 1.25rem;
	line-height: 2rem;
	a {
		display: block;
		text-decoration: none;
		border: none;
		color: teal;
	}
}

.accordion__icon {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	border: 1px solid #242424;
	color: #242424;
	text-align: center;
	line-height: 2rem;
	margin-right: 1rem;
}

.accordion__content {
	&.is-active {
		opacity: 1;
		max-height: none;
	}
	opacity: 1;
	height: auto;
	max-height: none;
}

